

.contactForm {
    border: 2px solid #646cff;
    border-radius: 8px;
    padding: 20px;
    width: 320px;
    margin: 0 auto;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #646cff;
    border-radius: 5px;
}